body {
	background-color:#5b7fbd; 
	color:#000;
	font-family: Verdana, sans-serif;
}

ul {
    text-align: center;
    list-style-position: inside;
}

li {
	font-size: 14px;
}

i {
	font-size: 12px;
}