body {
	background-color:#54ccff; 
	color:#000;
}

p{
	font-family: sans-serif;
}

ul {
    text-align: center;
    list-style-type: none;
    list-style-position: inside;
    font-family: sans-serif;
}

li {
	font-size: 14px;
}

i {
	font-size: 12px;
}