body {
	background-color:#364370; 
	color:#000;
}

#nav {
	margin: 5px;
	float: left;
	background-color: #b0cffe;
}

#content {
	background-color: #5b7fbd;
	float: right;
}
p{
	font-family: sans-serif;
}

ul {
    text-align: center;
    list-style-type: none;
    list-style-position: inside;
    font-family: sans-serif;
}

li {
	font-size: 14px;
}

i {
	font-size: 12px;
}